colocar el puerto o ruta que este utilizando

API_URL = http://localhost:4000 
NEXT_PUBLIC_API_URL = http://localhost:4000

claves del clima(tal cual como estan)

NEXT_PUBLIC_API_KEY_WEATHER = AIzaSyClIbFxja8EUW8C0woPJMf_gSrHZh5K-2k
NEXT_PUBLIC_API_KEY_WEATHER_PROPS = 63c3cb03c92a4f7f878205613243107