colocar el puerto o ruta que este utilizando

API_URL = http://localhost:4000 
NEXT_PUBLIC_API_URL = http://localhost:4000

claves para inicio de sesion con google (tal cual como estan)

GOOGLE_ID = 356798510372-f8bfrv9313cd75h9rgqcvhtr8bofpt83.apps.googleusercontent.com
GOOGLE_SECRET =AIzaSyC2PQiup5ZdPDA1MAyRfJ-4zetrzlBIZRo